
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.container-fluid
{
    justify-content: normal;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2e80ab;
    color: #fff;
    transition: all 0.3s;

}

#sidebar.active {
    padding-bottom: 14px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    bottom: 0;
}

#sidebar .user-picture {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #c4c5ca;
    margin-left: 60px;
}

#sidebar.active .user-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #c4c5ca;;
    margin-left: 0px;
}

#sidebar .product-name
{
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    background-color: black;
    margin-right: 0em !important;
}
#sidebar.active .product
{
   display: none;
   margin-right: 0em !important;
   padding-top: 15px;
}
#sidebar .product
{
   
    margin-right: 0em !important;
}
#sidebar.active .product-name
{
    font-size: 0.7em;
    
}


#sidebar .user-name
{
font-size: 1.3em;
text-align: center;
}
#sidebar .user-name span
{
    display: inline;
}

#sidebar.active .user-name .last
{
 display: none;
}

#sidebar.active .user-name .first
{
    font-size: 0.7em;
}
.btn-secondary {
    color: #fff;
    background-color:#616266 !important;
    border-color: #616266 !important;
  
}
.btn-info {
    color: #fff !important;
    background-color: #616266 !important;
    border-color: #616266 !important;
}
#sidebar .Sign-out
{
    margin-left: 33%;
    margin-top: 11.5%;
}
#sidebar .Sign-out #signout-icon {
    display: none;
    font-size: 1.2em;
    margin-left: -8px;
    margin-bottom:33px;
}

#sidebar.active .Sign-out button,
#sidebar.active .CTAs {
    display: none;
}
#sidebar.active .Sign-out #signout-icon {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 15px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.7em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #616266;
}

#sidebar.active .sidebar-header {
    padding: 15px;
    background: #616266;
}


#sidebar ul.components {
    padding: 35px 0;
    
}


#sidebar.active ul.components {
    padding: 12px 0;
    
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #616266;
    background: #fff;
}
#sidebar ul li a:focus {
    color: #616266;
    background: #fff;
}

.active, .menu:hover {
    color: #616266;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

.sign-button
{
    margin-bottom: 33px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


.tool-title
{
    font-size: 1.5em;
}
.banner-img-img
{
    width: 20%;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header .user-picture,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}

  

